h1 {
    text-align: center;
}

@font-face {
  font-family: Christie; /* set name */
  src: url("./Font/Christie.ttf"); /* url of the font */
}

#pageBody
{
    top: 0;
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    background: #171958;
    z-index: 1;
    padding-top: 100px; /* pushes content below the background block */
    min-height: 1000px; /* adjust as needed */
    box-sizing: border-box;
    border: 10px black;
    text-align: left;


}

#header
{
    padding: 40px;
}

#footer
{
    padding: 20px;
}

#banner
{
    top: 15px;
    left: 20px;
    position: absolute;
    width: 400px;
    height: 100px;
}

#corner
{
    top: 0;
    right: 0;
    position: absolute;
    width: 300px;
    height: 200px;
}
#badge
{
    top: 10px;
    left: 0;
    position: fixed;
    width: 22.5%;
    height: 40%;
}

#writePostPrompt
{
    bottom: 0;
    right: 280px;
    position: fixed;
    width: 75px;
    height: 75px;
}

#post-container p {
    background-color: #d6d6d6;
    border: 5px solid #9a9f9e;
    width: 90%;
    margin: 20px auto;   /* THIS centers it */
    padding: 15px;
    box-sizing: border-box;
    font-family: Christie;
    font-size: 20px;
}

#post-container img {
    max-width: 400px;
    max-height: 300px;
    display: block;
    margin: 20px auto;
    border: 5px solid #d6d6d6;
}

#post-container time {
    color: #825aa5;
    text-decoration: underline;
    width: 90%;
    margin: 20px auto;
    padding: 35px;
    font-family: Christie;
    font-size: 16px;

}
